@page
@model WebAppProduto.Pages.Produtos.EditModel
@{
}
<h1 class="text-center">Edite o seu Produto</h1>
<hr />

<form method="post">
    <div class="row">
        <input type="hidden" asp-for="Produto.ID" />
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Produto.nome" class="control-label"><b>Nome</b></label>
                <input asp-for="Produto.nome" class="form-control" placeholder="Insira o nome do produto" />
            </div>
            <div class="form-group">
                <label asp-for="Produto.tipo" class="control-label"><b>Tipo</b></label>
                <input asp-for="Produto.tipo" class="form-control" placeholder="Insira o tipo do produto" />
            </div>
            <div class="form-group">
                <label asp-for="Produto.fornecedor" class="control-label"><b>Fornecedor</b></label>
                <input asp-for="Produto.fornecedor" class="form-control" placeholder="Insira o fornecedor" />
            </div>
            <div class="form-group">
                <label asp-for="Produto.setor" class="control-label"><b>Setor</b></label>
                <input asp-for="Produto.setor" class="form-control" placeholder="Insira o setor" />
            </div>
            <div class="form-group">
                <label asp-for="Produto.local" class="control-label"><b>Local</b></label>
                <input asp-for="Produto.local" class="form-control" placeholder="Insira o local do produto" />
            </div>
            <div class="form-group">
                <label asp-for="Produto.quantidade" class="control-label"><b>Quantidade</b></label>
                <input asp-for="Produto.quantidade" class="form-control" placeholder="Insira a quantidade atual" />
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center flex-column">
            <div class="container-fluid">
                <img class="img-fluid" src="@Html.DisplayFor(model => Model.Produto.image)"
                     style="max-width: 400px"/>
            </div>
            <div class="form-group">
                <label for="image" class="control-label"><b>Alterar Imagem</b></label>
                <input type="text" class="form-control" name="imagem" />
            </div>
        </div>
    </div>
    <div class="d-flex flex-row-reverse bd-highlight">
        <input type="submit" value="Alterar produto" class="btn btn-primary mt-3" />
    </div>
</form>


