@page
@model WebAppProduto.Pages.Produtos.MovimentarModel
@{ Layout = null;
}
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>


<div class="modal-dialog">
    <div class="modal-content">
        <!--Cabeçalho-->
        <div class="modal-header">
            <h4 class="modal-title">Movimente o seu produto</h4>
        </div>
        <!--Corpo - Card-->
        <div class="modal-body">
            <form method="post">
                <label class="">Selecione o ID do seu produto</label>
                <select class="custom-select" select id="comboA" onchange="getComboA(this) ">
                    <option selected>Selecione</option>
                    @foreach (var data in Model.Produtos)
                    {

                        <option value="@data.ID">@Html.DisplayFor(modelItem => data.codigo)</option>
                    }
                </select>
            </form>
        </div>

    </div>
</div>