@page
@model IndexModel
@{
    ViewData["Title"] = "Página em Construção";
}

<div class="d-flex justify-content-center align-items-center flex-column" >
    <div class="img-fluid"><img src="/Images/Construction Worker_Isometric.svg" /></div>
    <h1>Página em construção</h1>
    <a class="btn btn-outline-secondary" asp-page="Produtos/Index" >Voltar</a>
</div>
