<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebAppProduto</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: #7749F8;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <svg width="195" height="38" viewBox="0 0 195 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M87 4H193C193 4 187 6.5 192 12.5C197 18.5 188.5 24.0714 192.5 27.5C196.5 30.9286 194 37 194 37H87V4Z" fill="#F64859" />
                        <path d="M22.9517 15.0645C21.8009 14.0846 20.5819 13.3498 19.2944 12.8599C18.0184 12.37 16.674 12.125 15.2612 12.125C12.5269 12.125 10.2995 13.0023 8.5791 14.7568C6.87012 16.5114 6.01562 18.7843 6.01562 21.5757C6.01562 24.2759 6.84733 26.5033 8.51074 28.2578C10.1855 30.0124 12.2933 30.8896 14.834 30.8896C16.3151 30.8896 17.7222 30.6276 19.0552 30.1035C20.3996 29.5794 21.687 28.7876 22.9175 27.728V32.3252C21.8237 33.1113 20.6331 33.6981 19.3457 34.0854C18.0583 34.4728 16.6626 34.6665 15.1587 34.6665C13.2446 34.6665 11.473 34.3532 9.84375 33.7266C8.22591 33.0999 6.80176 32.1771 5.57129 30.958C4.35221 29.7617 3.41227 28.3547 2.75146 26.7368C2.10205 25.1076 1.77734 23.3758 1.77734 21.5415C1.77734 19.7072 2.10205 17.9868 2.75146 16.3804C3.41227 14.7625 4.36361 13.3441 5.60547 12.125C6.84733 10.8945 8.27148 9.96598 9.87793 9.33936C11.4844 8.70133 13.2218 8.38232 15.0903 8.38232C16.5601 8.38232 17.9614 8.5988 19.2944 9.03174C20.6274 9.45329 21.9206 10.097 23.1738 10.9629L22.9517 15.0645ZM34.8804 18.0381L35.8032 17.5083C36.4412 17.1323 36.9198 16.6994 37.2388 16.2095C37.5578 15.7082 37.7173 15.1499 37.7173 14.5347C37.7173 13.8283 37.5008 13.2529 37.0679 12.8086C36.6349 12.3529 36.071 12.125 35.376 12.125C34.6126 12.125 33.9974 12.3529 33.5303 12.8086C33.0632 13.2643 32.8296 13.8511 32.8296 14.5688C32.8296 14.922 32.8923 15.2638 33.0176 15.5942C33.1543 15.9246 33.3594 16.238 33.6328 16.5342L34.8804 18.0381ZM39.375 28.9585L33.9062 22.6523L33.2739 23.0796C32.0776 23.8543 31.2402 24.5664 30.7617 25.2158C30.2946 25.8538 30.061 26.5659 30.061 27.3521C30.061 28.4572 30.4484 29.3914 31.2231 30.1548C31.9979 30.9181 32.9606 31.2998 34.1113 31.2998C34.9658 31.2998 35.826 31.1061 36.6919 30.7188C37.5692 30.3314 38.4635 29.7446 39.375 28.9585ZM43.6987 34L41.6821 31.6245C40.4972 32.6385 39.2782 33.3905 38.0249 33.8804C36.783 34.3589 35.4215 34.5981 33.9404 34.5981C31.639 34.5981 29.7648 33.9316 28.3179 32.5986C26.8823 31.2656 26.1646 29.5509 26.1646 27.4546C26.1646 26.0304 26.6089 24.7202 27.4976 23.5239C28.3862 22.3162 29.799 21.1086 31.7358 19.9009L30.7275 18.8071C30.1693 18.2033 29.742 17.5425 29.4458 16.8247C29.1496 16.1069 29.0015 15.3778 29.0015 14.6372C29.0015 12.9966 29.5996 11.6522 30.7959 10.604C32.0036 9.54443 33.5531 9.01465 35.4443 9.01465C37.3242 9.01465 38.8167 9.49316 39.9219 10.4502C41.027 11.3958 41.5796 12.6776 41.5796 14.2954C41.5796 15.5145 41.1922 16.631 40.4175 17.645C39.6427 18.6476 38.4066 19.6445 36.709 20.6357L41.9214 26.6855C42.4227 26.1842 42.9354 25.6146 43.4595 24.9766C43.9836 24.3385 44.5418 23.6037 45.1343 22.772L47.5269 25.3184C47.0711 26.0475 46.5641 26.7425 46.0059 27.4033C45.4476 28.0527 44.8438 28.6623 44.1943 29.2319L48.3984 34H43.6987ZM56.7554 24.1733H63.728L61.1646 18.4653C61.0164 18.1007 60.8626 17.6849 60.7031 17.2178C60.5436 16.7393 60.3841 16.2095 60.2246 15.6284C60.0879 16.1753 59.9398 16.688 59.7803 17.1665C59.6322 17.6336 59.4784 18.0666 59.3188 18.4653L56.7554 24.1733ZM68.0005 34L65.1636 27.5571H55.2515L52.3462 34H48.0737L60.1904 7.98926L72.29 34H68.0005Z" fill="white" />
                        <path d="M96.0508 28V10.1289H106.024V12.5947H98.9561V17.0747H106.024V19.626H98.9561V25.3999H106.024V28H96.0508ZM107.806 25.9004L110.003 24.7041C110.166 25.2819 110.467 25.7214 110.907 26.0225C111.346 26.3236 111.912 26.4741 112.604 26.4741C113.198 26.4741 113.661 26.3398 113.995 26.0713C114.337 25.7946 114.508 25.4202 114.508 24.9482C114.508 24.3216 113.906 23.7845 112.701 23.3369C112.294 23.1904 111.981 23.0684 111.761 22.9707C110.524 22.458 109.658 21.9372 109.161 21.4082C108.673 20.8792 108.429 20.2363 108.429 19.4795C108.429 18.446 108.832 17.6077 109.637 16.9648C110.451 16.3219 111.525 16.0005 112.86 16.0005C113.755 16.0005 114.52 16.1673 115.155 16.501C115.798 16.8265 116.266 17.2944 116.559 17.9048L114.679 19.1987C114.54 18.8325 114.296 18.5436 113.946 18.332C113.604 18.1123 113.206 18.0024 112.75 18.0024C112.245 18.0024 111.839 18.1245 111.529 18.3687C111.228 18.6047 111.078 18.922 111.078 19.3208C111.078 19.923 111.761 20.4723 113.128 20.9688C113.56 21.1234 113.893 21.2495 114.129 21.3472C115.195 21.7703 115.956 22.2505 116.412 22.7876C116.876 23.3166 117.108 23.9798 117.108 24.7773C117.108 25.9329 116.689 26.8403 115.851 27.4995C115.012 28.1506 113.857 28.4761 112.384 28.4761C111.253 28.4761 110.313 28.2645 109.564 27.8413C108.815 27.4181 108.229 26.7712 107.806 25.9004ZM120.404 28V18.7471H118.377V16.4277H120.404V12.0454H123.053V16.4277H125.079V18.7471H123.053V28H120.404ZM136.468 22.2505C136.468 21.1763 136.122 20.2689 135.431 19.5283C134.739 18.7796 133.893 18.4053 132.892 18.4053C131.899 18.4053 131.052 18.7796 130.353 19.5283C129.661 20.2689 129.315 21.1763 129.315 22.2505C129.315 23.3247 129.661 24.2362 130.353 24.9849C131.052 25.7254 131.899 26.0957 132.892 26.0957C133.884 26.0957 134.727 25.7254 135.418 24.9849C136.118 24.2362 136.468 23.3247 136.468 22.2505ZM126.52 22.2261C126.52 21.3797 126.678 20.5822 126.996 19.8335C127.321 19.0767 127.785 18.4053 128.387 17.8193C128.981 17.2415 129.665 16.798 130.438 16.4888C131.211 16.1795 132.021 16.0249 132.867 16.0249C133.738 16.0249 134.556 16.1795 135.321 16.4888C136.094 16.798 136.786 17.2537 137.396 17.856C138.006 18.45 138.47 19.1214 138.788 19.8701C139.105 20.6188 139.264 21.4041 139.264 22.2261C139.264 23.0806 139.105 23.8822 138.788 24.6309C138.478 25.3796 138.023 26.0428 137.42 26.6206C136.786 27.231 136.082 27.6908 135.309 28C134.535 28.3174 133.722 28.4761 132.867 28.4761C132.029 28.4761 131.223 28.3174 130.45 28C129.677 27.6908 128.989 27.2391 128.387 26.645C127.777 26.0428 127.313 25.3674 126.996 24.6187C126.678 23.87 126.52 23.0724 126.52 22.2261ZM150.384 22.1772C150.384 20.981 150.104 20.0492 149.542 19.3818C148.989 18.7145 148.211 18.3809 147.21 18.3809C146.209 18.3809 145.42 18.7267 144.842 19.4185C144.273 20.1021 143.988 21.0542 143.988 22.2749C143.988 23.5037 144.264 24.4518 144.818 25.1191C145.371 25.7865 146.153 26.1201 147.162 26.1201C148.13 26.1201 148.907 25.762 149.493 25.0459C150.087 24.3298 150.384 23.3735 150.384 22.1772ZM152.96 33.4443H150.311V26.4985C149.839 27.1659 149.286 27.6623 148.651 27.9878C148.024 28.3133 147.304 28.4761 146.49 28.4761C144.854 28.4761 143.565 27.9186 142.621 26.8037C141.685 25.6807 141.217 24.1466 141.217 22.2017C141.217 20.3543 141.697 18.8651 142.657 17.7339C143.618 16.5946 144.871 16.0249 146.417 16.0249C147.361 16.0249 148.167 16.2243 148.834 16.623C149.509 17.0137 150.002 17.5793 150.311 18.3198V16.4277H152.96V33.4443ZM159.186 16.4277V22.9463C159.186 24.0693 159.417 24.875 159.881 25.3633C160.345 25.8516 161.098 26.0957 162.14 26.0957C163.181 26.0957 163.934 25.8516 164.398 25.3633C164.862 24.875 165.094 24.0693 165.094 22.9463V16.4277H167.743V22.1528C167.743 24.3664 167.299 25.9736 166.412 26.9746C165.525 27.9756 164.109 28.4761 162.164 28.4761C160.187 28.4761 158.754 27.9797 157.867 26.9868C156.98 25.994 156.537 24.3826 156.537 22.1528V16.4277H159.186ZM182.464 22.6045H173.211C173.277 23.6868 173.598 24.5332 174.176 25.1436C174.754 25.7458 175.523 26.0469 176.483 26.0469C177.337 26.0469 178.049 25.8678 178.619 25.5098C179.189 25.1517 179.685 24.5739 180.108 23.7764L182.342 25.0215C181.691 26.1852 180.886 27.0519 179.925 27.6216C178.965 28.1912 177.838 28.4761 176.544 28.4761C174.688 28.4761 173.211 27.9105 172.113 26.7793C171.014 25.6481 170.465 24.1385 170.465 22.2505C170.465 20.4357 171.03 18.9465 172.162 17.7827C173.301 16.6108 174.762 16.0249 176.544 16.0249C178.408 16.0249 179.86 16.5579 180.902 17.624C181.944 18.6901 182.464 20.1834 182.464 22.104V22.6045ZM179.718 20.8223C179.612 19.9922 179.295 19.3615 178.766 18.9302C178.237 18.4907 177.512 18.271 176.593 18.271C175.722 18.271 175.022 18.4826 174.493 18.9058C173.964 19.3289 173.594 19.9678 173.382 20.8223H179.718Z" fill="white" />
                    </svg>
                </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav flex-grow">
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacidade</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="" asp-page="/Produtos/Index">Estoque</a>
                                </li>
                            </ul>
                        </div>
    </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2021 - WebAppProduto - <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>

        @await RenderSectionAsync("Scripts", required: false)
    </body>
    </html>
